<form #accountOptionsForm novalidate>
  <div class="form-group">
    <mat-checkbox id="verifyEmail" name="verifyEmail"
                  [(ngModel)]="options.verifyEmail" [disabled]="readonly">
      Verify Email
    </mat-checkbox>
  </div>
  <div class="form-group">
    <mat-checkbox id="verifyProviderEmail" name="verifyProviderEmail"
                  [(ngModel)]="options.verifyProviderEmail" [disabled]="readonly">
      Verify Provider Email
    </mat-checkbox>
  </div>
  <div class="form-group">
    <mat-checkbox id="allowUnverifiedLogin" name="allowUnverifiedLogin"
                  [(ngModel)]="options.allowUnverifiedLogin" [disabled]="readonly">
      Allow Unverified Login
    </mat-checkbox>
  </div>
  <div class="form-group">
    <mat-checkbox id="preventLoginIDHarvesting" name="allowUnverifiedLogin"
                  [(ngModel)]="options.preventLoginIDHarvesting" [disabled]="readonly">
      Prevent Login ID Harvesting
    </mat-checkbox>
  </div>
  <div class="form-group">
    <mat-checkbox id="sendWelcomeEmail" name="sendWelcomeEmail"
                  [(ngModel)]="options.sendWelcomeEmail" [disabled]="readonly">
      Send Welcome Email
    </mat-checkbox>
  </div>
  <div class="form-group">
    <mat-checkbox id="sendAccountDeletedEmail" name="sendAccountDeletedEmail"
                  [(ngModel)]="options.sendAccountDeletedEmail" [disabled]="readonly">
      Send Account Deleted Email
    </mat-checkbox>
  </div>
  <div class="form-group">
    <mat-form-field class="w-100">
      <input matInput id="defaultLanguage" name="defaultLanguage" required
             [(ngModel)]="options.defaultLanguage" [disabled]="readonly"
             placeholder="Default Language" value="options.defaultLanguage">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="w-100">
      <input matInput id="loginIdentifiers" name="loginIdentifiers" required
             [(ngModel)]="options.loginIdentifiers" [disabled]="readonly"
             placeholder="Login Identifiers" value="options.loginIdentifiers">
    </mat-form-field>
  </div>

  <div class="form-group  w-100">
    <label for="loginIdentifierConflict">Login Identifier Conflict:</label>
    <mat-select id="loginIdentifierConflict" name="loginIdentifierConflict" required
                placeholder="Login Identifier Conflict" class="w-100"
                [(ngModel)]="options.loginIdentifierConflict" [disabled]="readonly">
      <mat-option *ngFor="let conflict of loginIdentifierConflictsList" [value]="conflict">{{ conflict }}</mat-option>
    </mat-select>
  </div>
</form>
