<form #accountOptionsForm novalidate>
  <div class="form-group">
    <mat-checkbox id="verifyEmail" name="verifyEmail"
                  [(ngModel)]="options.verifyEmail" [disabled]="false">
      {{ labels.verifyEmail }}
    </mat-checkbox>
  </div>
  <div class="form-group">
    <mat-checkbox id="verifyProviderEmail" name="verifyProviderEmail"
                  [(ngModel)]="options.verifyProviderEmail" [disabled]="false">
      {{ labels.verifyProviderEmail }}
    </mat-checkbox>
  </div>
  <div class="form-group">
    <mat-checkbox id="allowUnverifiedLogin" name="allowUnverifiedLogin"
                  [(ngModel)]="options.allowUnverifiedLogin" [disabled]="false">
      {{ labels.allowUnverifiedLogin }}
    </mat-checkbox>
  </div>
  <div class="form-group">
    <mat-checkbox id="preventLoginIDHarvesting" name="allowUnverifiedLogin"
                  [(ngModel)]="options.preventLoginIDHarvesting" [disabled]="false">
      {{ labels.preventLoginIDHarvesting }}
    </mat-checkbox>
  </div>
  <div class="form-group">
    <mat-checkbox id="sendWelcomeEmail" name="sendWelcomeEmail"
                  [(ngModel)]="options.sendWelcomeEmail" [disabled]="false">
      {{ labels.sendWelcomeEmail }}
    </mat-checkbox>
  </div>
  <div class="form-group">
    <mat-checkbox id="sendAccountDeletedEmail" name="sendAccountDeletedEmail"
                  [(ngModel)]="options.sendAccountDeletedEmail" [disabled]="false">
      {{ labels.sendAccountDeletedEmail }}
    </mat-checkbox>
  </div>
  <div class="form-group">
    <mat-form-field class="w-100">
      <input matInput id="defaultLanguage" name="defaultLanguage" required
             [(ngModel)]="options.defaultLanguage" [disabled]="false"
             placeholder="{{labels.defaultLanguage}}" value="options.defaultLanguage">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="w-100">
      <input matInput id="loginIdentifiers" name="loginIdentifiers" required
             [(ngModel)]="options.loginIdentifiers" [disabled]="false"
             placeholder="{{labels.loginIdentifiers}}" value="options.loginIdentifiers">
    </mat-form-field>
  </div>

  <div class="form-group  w-100">
    <label for="loginIdentifierConflict">{{labels.loginIdentifierConflict}}:</label>
    <mat-select id="loginIdentifierConflict" name="loginIdentifierConflict" required
                placeholder="{{labels.loginIdentifierConflict}}" class="w-100"
                [(ngModel)]="options.loginIdentifierConflict" [disabled]="false">
      <mat-option *ngFor="let conflict of conflictsList" [value]="conflict">{{ conflict }}</mat-option>
    </mat-select>
  </div>
</form>
